<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
    <link rel="stylesheet" href="main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

<div id="app">
    <h1 align="center">Weather App ! Spring Boot and Vue.js</h1>
    <h2 align="center" v-if="this.weather.title != null">Forecast for {{weather.title}}</h2>
    <br>
    <div class="enter-location">
        <input v-model="city" type="text" placeholder="Enter a Location"
               @keyup.enter=getWeather(city)>
        <button class="btn btn-primary" @click="getWeather(city)">Search</button>
    </div>
    <br>
    <div>
        <ul style="display: grid;grid-template-columns:repeat(6,1fr);">
            <li v-for="item in weather.consolidated_weather" style="display: inline">
                <p>{{item.applicable_date}}</p>
                <p>{{item.weather_state_name}}</p>
                <p>Min: {{item.min_temp.toFixed(2)}}°C</p>
                <p>Max: {{item.max_temp.toFixed(2)}}°C</p>
                <p>Humidity:{{item.humidity}}%</p>
                <p><img v-bind:src="'/images/'+item.weather_state_abbr+'.png'" alt="" width="70" height="70"></p>
            </li>
        </ul>
    </div>


</div>

</body>
</html>


<script>

    new Vue({
        el: "#app",
        data() {
            return {
                weather: {
                    consolidated_weather: null,
                    city: null,
                    title: null,
                    woeid: null,
                    time: null,
                    lattLong: null,
                }
            }


        },

        methods: {
            getWeather: function (city) {
                axios.get("https://weatherapp-springboot-vue.herokuapp.com/weather/app/" + city).then((response) => {
                    this.weather = response.data;
                })
                    .catch(error => {
                        alert("Location not found, please try again");
                        console.log(error.response.data.error)
                    })

            },
        },

    })

</script>

